[submodule "RaidBattlesBot/PogoAssets"]
	path = RaidBattlesBot/PogoAssets
	url = https://github.com/ZeChrales/PogoAssets.git

[submodule "TelegramSkeleton"]
	path = TelegramSkeleton
	url = ../TelegramSkeleton.git
